<div class="wrapper fadeInDown">
    <h2>Sign Up</h2>
    <div id="formContent">
      <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
        <input type="text" class="fadeIn second" name="email" formControlName="email" placeholder="email">
        <input type="text" class="fadeIn second" name="username" formControlName="username" placeholder="username">
        <input type="password" class="fadeIn third" name="password" formControlName="password" placeholder="password">
        <input type="password" class="fadeIn third" name="repeatPassword" formControlName="repeatPassword" placeholder="repeat password">
        <button class="btn btn-primary" style="margin-bottom: 20px; margin-top: 20px;">Register</button>
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a [routerLink]="['/user/login']" class="underlineHover" style="cursor: pointer;">Already have an account?</a>
      </div>
  
    </div>
  </div>

  


